[submodule "esp32-bluetooth-accessory/components/arduino"]
	path = esp32-bluetooth-accessory/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "esp32-wifi-accessory/components/arduino"]
	path = esp32-wifi-accessory/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
