<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Connectivity</string>
			<key>FooterText</key>
			<string>The connection includes Bluetooth connection to the ETC device and the steering remote, and Wi-Fi connection to the rearview camera.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Connection with Vehicle</string>
			<key>Key</key>
			<string>connectionWithVehicle</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Apple Maps Integration</string>
			<key>FooterText</key>
			<string>When opening locations in Apple Maps, automatically search and show corresponding point of interest with detailed infomation. This requires additional network request for searching.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Automatically Opens Unopened Location When App Is Opened</string>
			<key>Key</key>
			<string>automaticallyOpensUnopenedLocationWhenAppIsOpened</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Snap Location to Point of Interest</string>
			<key>Key</key>
			<string>snapLocationToPointOfInterest</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Maps</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Track on Maps</string>
			<key>Key</key>
			<string>showTrackOnMaps</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Parking Search</string>
			<key>FooterText</key>
			<string>Average walking speed is about 80m/minute.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Automatically Search Parkings When Location Is Automatically Opened</string>
			<key>Key</key>
			<string>automaticallySearchParkingsWhenLocationIsAutomaticallyOpened</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Preferred Max Distance from Destination to Parking in Meters</string>
			<key>Key</key>
			<string>preferredMaxDistanceFromDestinationToParking</string>
			<key>DefaultValue</key>
			<string>400</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>G-Force Meter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Unit of Scale</string>
			<key>Key</key>
			<string>unitOfGForceMeterScale</string>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Values</key>
			<array>
				<real>0.5</real>
				<real>1</real>
			</array>
			<key>Titles</key>
			<array>
				<string>0.5G</string>
				<string>1.0G</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Pointer Scaling Base for Vertical Acceleration</string>
			<key>Key</key>
			<string>pointerScalingBaseForVerticalAccelerationForGForceMeter</string>
			<key>DefaultValue</key>
			<real>1</real>
			<key>Values</key>
			<array>
				<real>1</real>
				<real>5</real>
				<string>10</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Disable Scaling</string>
				<string>5</string>
				<string>10</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Current Value Ratio for Smoothing</string>
			<key>Key</key>
			<string>currentValueRatioForSmoothingInGForceMeter</string>
			<key>DefaultValue</key>
			<real>0.3</real>
			<key>Values</key>
			<array>
				<real>1</real>
				<real>0.5</real>
				<real>0.3</real>
				<real>0.1</real>
				<real>0.05</real>
			</array>
			<key>Titles</key>
			<array>
				<string>100% (Disable Smoothing)</string>
				<string>50%</string>
				<string>30%</string>
				<string>10%</string>
				<string>5%</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Automatic Sound Volume Control</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Speed Sensitive Volume Control</string>
			<key>Key</key>
			<string>speedSensitiveVolumeControlEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Additional Volume at 120km/h</string>
			<key>Key</key>
			<string>additionalVolumeAt120KilometersPerHour</string>
			<key>DefaultValue</key>
			<real>0.2</real>
			<key>Values</key>
			<array>
				<real>0.1</real>
				<real>0.15</real>
				<real>0.2</real>
				<real>0.25</real>
				<real>0.3</real>
				<real>0.35</real>
				<real>0.4</real>
			</array>
			<key>Titles</key>
			<array>
				<string>10%</string>
				<string>15%</string>
				<string>20%</string>
				<string>25%</string>
				<string>30%</string>
				<string>35%</string>
				<string>40%</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Minimum Speed for Additional Volume</string>
			<key>Key</key>
			<string>minimumSpeedInKilometersPerHourForAdditionalVolume</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>5</integer>
				<integer>10</integer>
				<integer>20</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>0 km/h</string>
				<string>5 km/h</string>
				<string>10 km/h</string>
				<string>20 km/h</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Logging</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Log Level</string>
			<key>Key</key>
			<string>logLevel</string>
			<key>DefaultValue</key>
			<integer>3</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Verbose</string>
				<string>Debug</string>
				<string>Notice</string>
				<string>Info</string>
				<string>Warning</string>
				<string>Error</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Reset</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Clear Firestore Offline Cache on Next Launch</string>
			<key>Key</key>
			<string>clearFirestoreOfflineCacheOnNextLaunch</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
