rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // https://firebase.google.com/docs/firestore/security/rules-structure#version-2
    match /vehicles/{vehicleID} {
      function isOwnerOfVehicle() {
        return request.auth.uid == vehicleID;
      }

      allow read: if isOwnerOfVehicle();

      match /items/{itemID} {
        allow read, update, delete: if isOwnerOfVehicle();
      }
    }
  }
}
