<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>ApplicationGroupContainerIdentifier</key>
	<string>group.com.yujinakayama.Rearview</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Raspberry Pi Address</string>
			<key>Key</key>
			<string>raspberryPiAddress</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Camera Sensitivity</string>
			<key>FooterText</key>
			<string>Digital gain values must be from 1.0 to 64.0.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Digital Gain for Low Light Mode</string>
			<key>Key</key>
			<string>digitalGainForLowLightMode</string>
			<key>DefaultValue</key>
			<string>8</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Digital Gain for Ultra Low Light Mode</string>
			<key>Key</key>
			<string>digitalGainForUltraLowLightMode</string>
			<key>DefaultValue</key>
			<string>16</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Video Effects</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Gamma Adjustment Power</string>
			<key>Key</key>
			<string>gammaAdjustmentPower</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
</dict>
</plist>
